/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.landing-page-img{
height: 100vh;
background-image: url("/Users/ghadahalghanim/Desktop/TBootcamp/T1000/homework_labs/labcss/applepie/images/apple-pie.jpg");
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 50px;
}

h1{
  color: white;
}

.first-con{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illu-img{
  width: 40%;
  margin-top: 40px;
}

main{
  padding: 0 20%;
  color: rgb(77, 74, 74);

}

ul li{
  list-style: none;
}