/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

.header {
  
  background-image: url("../images/soup.jpg");
  background-size: cover;
  height: calc(100vh - 64px);
  
}


.p{
  position: relative;
  width: 600px;
  margin: auto;
  padding: 50px;
  font-size: 20px;
  line-height: 1.8;
}

.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600PX;
  padding: relative ;
}



h1{
  margin: 0px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50% , -50%);

  
}
.content-1{
  width: 600px;
  margin: auto;
  padding: relative;

}